{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<title>Chá de Panela</title>
<style>
  .avatar {
    position: relative;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  .avatar img {
    width: 100%;
    height: 100%;
  }

  .avatar .avatar-initial {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
  }

  .pull-up {
    transition: all 0.25s ease;
  }

  .pull-up:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 30;
    border-radius: 50%;
  }

  .avatar-xs {
    width: 1.625rem;
    height: 1.625rem;
  }

  .avatar-xs .avatar-initial {
    font-size: 0.625rem;
  }

  .avatar-xs.avatar-online:after,
  .avatar-xs.avatar-offline:after,
  .avatar-xs.avatar-away:after,
  .avatar-xs.avatar-busy:after {
    width: 0.325rem;
    height: 0.325rem;
    right: 1px;
  }

  .avatar-sm {
    width: 2rem;
    height: 2rem;
  }

  .avatar-sm .avatar-initial {
    font-size: 0.75rem;
  }

  .avatar-sm.avatar-online:after,
  .avatar-sm.avatar-offline:after,
  .avatar-sm.avatar-away:after,
  .avatar-sm.avatar-busy:after {
    width: 0.4rem;
    height: 0.4rem;
    right: 2px;
  }

  .avatar-md {
    width: 3rem;
    height: 3rem;
  }

  .avatar-md .avatar-initial {
    font-size: 1.125rem;
  }

  .avatar-md.avatar-online:after,
  .avatar-md.avatar-offline:after,
  .avatar-md.avatar-away:after,
  .avatar-md.avatar-busy:after {
    width: 0.6rem;
    height: 0.6rem;
    right: 4px;
  }

  .avatar-lg {
    width: 4rem;
    height: 4rem;
  }

  .avatar-lg .avatar-initial {
    font-size: 1.5rem;
  }

  .avatar-lg.avatar-online:after,
  .avatar-lg.avatar-offline:after,
  .avatar-lg.avatar-away:after,
  .avatar-lg.avatar-busy:after {
    width: 0.8rem;
    height: 0.8rem;
    right: 5px;
  }

  .avatar-xl {
    width: 4.5rem;
    height: 4.5rem;
  }

  .avatar-xl .avatar-initial {
    font-size: 1.875rem;
  }

  .avatar-xl.avatar-online:after,
  .avatar-xl.avatar-offline:after,
  .avatar-xl.avatar-away:after,
  .avatar-xl.avatar-busy:after {
    width: 0.9rem;
    height: 0.9rem;
    right: 6px;
  }

  .avatar-group .avatar {
    transition: all 0.25s ease;
  }

  .avatar-group .avatar img,
  .avatar-group .avatar .avatar-initial {
    border: 2px solid rgba(255, 255, 255, 0.3);
  }

  .avatar-group .avatar .avatar-initial {
    background-color: #9da8b5;
  }

  .avatar-group .avatar:hover {
    z-index: 30;
    transition: all 0.25s ease;
  }

  .avatar-group .avatar {
    margin-left: -0.8rem;
  }

  .avatar-group .avatar:first-child {
    margin-left: 0;
  }

  .avatar-group .avatar-xs {
    margin-left: -0.65rem;
  }

  .avatar-group .avatar-sm {
    margin-left: -0.75rem;
  }

  .avatar-group .avatar-md {
    margin-left: -0.9rem;
  }

  .avatar-group .avatar-lg {
    margin-left: -1.5rem;
  }

  .avatar-group .avatar-xl {
    margin-left: -1.75rem;
  }

  .avatar-group .avatar .avatar-initial {
    background-color: rgba(255, 255, 255, 0.37);
  }

  .avatar.avatar-online:after,
  .avatar.avatar-offline:after,
  .avatar.avatar-away:after,
  .avatar.avatar-busy:after {
    box-shadow: 0 0 0 2px #232333;
  }
</style>
{% endblock extra_head %}

{% block content %}
<div class="container">
  {% if bridal_shower_text is not None %}
  <section class="u-clearfix u-section-2" id="bridal_shower_text">
    <div class="u-align-right u-palette-1-light-2 u-shape u-shape-rectangle u-shape-1"
      data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"></div>
    <div class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-34 u-layout-cell-1">
            <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
              <div class="custom-expanded u-palette-1-base u-shape u-shape-rectangle u-shape-2"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
              <div class="u-container-style u-group u-image u-image-tiles u-image-1"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
              <img src="{{ bridal_shower_text.images.first.image.url }}" alt=""
                class="u-image u-image-default u-image-2" data-animation-name="customAnimationIn"
                data-animation-duration="1500" data-animation-delay="500" data-image-width="1200"
                data-image-height="879">
            </div>
          </div>
          <div class="u-container-align-left u-container-style u-layout-cell u-size-26 u-layout-cell-2"
            data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-valign-middle u-container-layout-3">
              <h2 class="u-align-left u-text u-text-1"><b> {{ bridal_shower_text.title }}</b> <br>
              </h2>
              <p class="u-align-left u-large-text u-text u-text-variant u-text-2">{{ bridal_shower_text.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% if settings.bridal_shower_address or settings.bridal_shower_datetime %}
  <section class="u-align-center u-clearfix u-container-align-center u-section-5" id="text_3">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                {% if settings.bridal_shower_address %}
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div
                      class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-1"
                      data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                      <div class="u-container-layout u-container-layout-1">
                        <h3 class="u-text u-text-1"><i class="bi bi-calendar"></i> Data e Hora</h3>
                        <blockquote class="u-text u-text-2">{{ settings.bridal_shower_datetime }}</blockquote>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if settings.bridal_shower_datetime %}
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div
                      class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-2"
                      data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                      <div class="u-container-layout u-valign-top u-container-layout-2">
                        <h3 class="u-text u-text-3">
                          <i class="bi bi-geo-alt-fill"></i> Endereço
                        </h3>
                        <blockquote class="u-text u-text-2">
                          <address>
                            {{ settings.bridal_shower_address }}
                          </address>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-60 u-image-1"
                  data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
                  style="background-image: none;">
                  <address class="u-container-layout u-container-layout-3 figure w-100">
                    <iframe class="figure-img rounded" width="100%" height="90%" frameborder="0" scrolling="no"
                      marginheight="0" marginwidth="0" id="gmap_canvas_ceremony"
                      src="https://maps.google.com/maps?height=400&amp;hl=pt-br&amp;q={{ settings.bridal_shower_address|slugify }}&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <section class="row my-4" id="gifts">
    <h1>Lista de Presentes</h1>
    {% regroup object_list by category as category_list %}
    {% for category in category_list %}
      <h3>{{ category.list.0.get_category_display }}</h3>
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 justify-content-evenly g-4 my-2">
        {% for gift in category.list %}
        <div class="col" data-category="{{ gift.get_category_display }}">
          <div class="card" style="width: 100%; height: 100%;">
            <div class="w-100 overflow-hidden" style="height: 18rem;">
              <img src="{{ gift.image.url }}" class="object-fit-cover w-100 h-100">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ gift.name }}</h5>
              <p class="card-text">{{ gift.description }}</p>
              {% if gift.suggestions.count > 0 %}
                <button class="btn btn-pink" data-bs-toggle="modal" data-bs-target="#gift{{ forloop.counter }}">Presentear</button>
              {% else %}
                <button class="btn btn-pink" data-bs-toggle="modal" data-bs-target="#pickGift{{ forloop.counter }}">Presentear</button>
              {% endif %}
            </div>
            <div class="card-footer d-flex align-items-center">
              Cores:
              <ul class="list-unstyled m-0 d-flex align-items-center avatar-group ms-2">
                {% for color in gift.colors.all %}
                <li data-bs-toggle="tooltip" class="avatar rounded-circle pull-up border border-dark" aria-label="{{ color.name }}" data-bs-original-title="{{ color.name }}" style="background-color: {{ color.color }};">
                </li>
                {% empty %}
                <li data-bs-toggle="tooltip" class="avatar rounded-circle pull-up border border-dark d-flex align-items-center justify-content-center" aria-label="Sem cor definida" data-bs-original-title="Sem cor definida" tool style="background-color: #9da8b5;">
                  <span>&mdash;</span>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        
        {% endfor %}
      </div>
    {% endfor %}
  </section>
  
</div>
{% endblock content %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  });
</script>
{% endblock extra_scripts %}