{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<title>Chá de Panela</title>
{% endblock extra_head %}

{% block content %}
<div class="container">
  {% if bridal_shower_text is not None %}
  <section class="u-clearfix u-section-2" id="bridal_shower_text">
    <div class="u-align-right u-palette-1-light-2 u-shape u-shape-rectangle u-shape-1"
      data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"></div>
    <div class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-34 u-layout-cell-1">
            <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
              <div class="custom-expanded u-palette-1-base u-shape u-shape-rectangle u-shape-2"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
              <div class="u-container-style u-group u-image u-image-tiles u-image-1"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
              <img src="{{ bridal_shower_text.images.first.image.url }}" alt=""
                class="u-image u-image-default u-image-2" data-animation-name="customAnimationIn"
                data-animation-duration="1500" data-animation-delay="500" data-image-width="1200"
                data-image-height="879">
            </div>
          </div>
          <div class="u-container-align-left u-container-style u-layout-cell u-size-26 u-layout-cell-2"
            data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-valign-middle u-container-layout-3">
              <h2 class="u-align-left u-text u-text-1"><b> {{ bridal_shower_text.title }}</b> <br>
              </h2>
              <p class="u-align-left u-large-text u-text u-text-variant u-text-2">{{ bridal_shower_text.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% if settings.bridal_shower_address or settings.bridal_shower_datetime %}
  <section class="u-align-center u-clearfix u-container-align-center u-section-5" id="text_3">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                {% if settings.bridal_shower_address %}
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div
                      class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-1"
                      data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                      <div class="u-container-layout u-container-layout-1">
                        <h3 class="u-text u-text-1"><i class="bi bi-calendar"></i> Data e Hora</h3>
                        <blockquote class="u-text u-text-2">{{ settings.bridal_shower_datetime }}</blockquote>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if settings.bridal_shower_datetime %}
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div
                      class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-2"
                      data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                      <div class="u-container-layout u-valign-top u-container-layout-2">
                        <h3 class="u-text u-text-3">
                          <i class="bi bi-geo-alt-fill"></i> Endereço
                        </h3>
                        <blockquote class="u-text u-text-2">
                          <address>
                            {{ settings.bridal_shower_address }}
                          </address>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-60 u-image-1"
                  data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
                  style="background-image: none;">
                  <address class="u-container-layout u-container-layout-3 figure w-100">
                    <iframe class="figure-img rounded" width="100%" height="90%" frameborder="0" scrolling="no"
                      marginheight="0" marginwidth="0" id="gmap_canvas_ceremony"
                      src="https://maps.google.com/maps?height=400&amp;hl=pt-br&amp;q={{ settings.bridal_shower_address|slugify }}&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <section class="row my-4" id="gifts">
    <h1 class="text-center">Lista de Presentes</h1>
    {% regroup object_list by category as category_list %}
    {% for category in category_list %}
      <h3 class="text-center my-3">{{ category.list.0.get_category_display }}</h3>
      <hr>
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 justify-content-evenly g-4 my-2">
        {% for gift in category.list %}
        <div class="col" data-category="{{ gift.get_category_display }}">
          <div class="card" style="width: 100%; height: 100%;">
            <div class="w-100 overflow-hidden" style="height: 18rem;">
              <img src="{{ gift.image.url }}" class="object-fit-contain w-100 h-100">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ gift.name }}</h5>
              <p class="card-text">{{ gift.description }}</p>
              {% if gift.suggestions.count > 0 %}
                <button class="btn btn-pink" data-bs-toggle="modal" data-bs-target="#gift{{ forloop.counter }}">Presentear</button>
              {% else %}
                <button class="btn btn-pink" data-bs-toggle="modal" data-bs-target="#pickGift{{ forloop.counter }}">Presentear</button>
              {% endif %}
            </div>
            <div class="card-footer d-flex align-items-center">
              Cores:
              <ul class="list-unstyled m-0 d-flex align-items-center color-group ms-2">
                {% for color in gift.colors.all %}
                <li data-bs-toggle="tooltip" class="color rounded-circle pull-up border border-dark" aria-label="{{ color.name }}" data-bs-original-title="{{ color.name }}" style="background-color: {{ color.color }};">
                </li>
                {% empty %}
                <li data-bs-toggle="tooltip" class="color rounded-circle pull-up border border-dark d-flex align-items-center justify-content-center" aria-label="Sem cor definida" data-bs-original-title="Sem cor definida" tool style="background-color: #9da8b5;">
                  <span>&mdash;</span>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <!-- Modal -->
        {% if gift.suggestions.count > 0 %}
        <div class="modal fade" id="gift{{ forloop.counter }}" tabindex="-1"
          aria-labelledby="gift{{ forloop.counter }}Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header ">
                <h1 class="modal-title fs-5" id="gift{{ forloop.count }}Label">{{ gift.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
              </div>
              <ul class="modal-body list-group list-group-flush">
                <li class="list-group-item bg-pink">Sugestões de onde comprar nos links abaixo:</li>
                {% for suggestion in gift.suggestions.all %}
                <li class="list-group-item">
                  &mdash; <a class="text-dark" href="{{ suggestion.link }}" target="_blank">{{ suggestion.name }}</a>
                </li>
                {% endfor %}
              </ul>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-pink" data-bs-toggle="modal"
                  data-bs-target="#pickGift{{ forloop.counter }}">Presentear</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="pickGift{{ forloop.counter }}" tabindex="-1"
          aria-labelledby="pickGift{{ forloop.counter }}Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-pink">
                <h1 class="modal-title fs-5" id="gift{{ forloop.count }}Label">Confirmar presente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'home:choose_gift' gift.pk %}" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <div class="mb-3">
                    <label for="phone_number" class="form-label">Telefone</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                  </div>
                  <div class="mb-3">
                    <label for="message" class="form-label">E-mail <small>(Opcional)</small></label>
                    <input type="email" class="form-control" id="email" name="email">
                  </div>
                  <button type="submit" class="btn btn-pink">Presentear</button>
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-pink" data-bs-toggle="modal" data-bs-target="#gift{{ forloop.counter }}">Voltar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="modal fade" id="pickGift{{ forloop.counter }}" tabindex="-1"
          aria-labelledby="pickGift{{ forloop.counter }}Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-pink">
                <h1 class="modal-title fs-5" id="gift{{ forloop.count }}Label">Confirmar presente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'home:choose_gift' gift.pk %}" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <div class="mb-3">
                    <label for="phone_number" class="form-label">Telefone</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                  </div>
                  <div class="mb-3">
                    <label for="message" class="form-label">E-mail <small>(Opcional)</small></label>
                    <input type="email" class="form-control" id="email" name="email">
                  </div>
                  <button type="submit" class="btn btn-pink">Presentear</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </section>
  
</div>
{% endblock content %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  });
</script>
{% endblock extra_scripts %}