{% extends 'base.html' %}

{% block extra_head %}
<title>Sugestões de Presentes</title>
{% endblock extra_head %}

{% block content %}
<div class="container">
    {% if gift_list_text is not None %}
    <section class="u-clearfix u-section-2" id="gift_list_text">
        <div class="u-align-right u-palette-1-light-2 u-shape u-shape-rectangle u-shape-1"
            data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"></div>
        <div class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-34 u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
                            <div class="custom-expanded u-palette-1-base u-shape u-shape-rectangle u-shape-2"
                                data-animation-name="customAnimationIn" data-animation-duration="1500"
                                data-animation-delay="500"></div>
                            <div class="u-container-style u-group u-image u-image-tiles u-image-1"
                                data-animation-name="customAnimationIn" data-animation-duration="1500"
                                data-animation-delay="500">
                                <div class="u-container-layout u-container-layout-2"></div>
                            </div>
                            <img src="{{ gift_list_text.images.first.image.url }}" alt=""
                                class="u-image u-image-default u-image-2" data-animation-name="customAnimationIn"
                                data-animation-duration="1500" data-animation-delay="500" data-image-width="1200"
                                data-image-height="879">
                        </div>
                    </div>
                    <div class="u-container-align-left u-container-style u-layout-cell u-size-26 u-layout-cell-2"
                        data-animation-name="customAnimationIn" data-animation-duration="1500"
                        data-animation-delay="500">
                        <div class="u-container-layout u-valign-middle u-container-layout-3">
                            <h2 class="u-align-left u-text u-text-1" data-text-url="{% url 'admin:home_textcontent_change' gift_list_text.pk %}"><b> {{ gift_list_text.title }}</b> <br>
                            </h2>
                            <p class="u-align-left u-large-text u-text u-text-variant u-text-2" data-text-url="{% url 'admin:home_textcontent_change' gift_list_text.pk %}">{{ gift_list_text.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <section class="row row-cols-1 row-cols-md-3 row-cols-lg-4 justify-content-evenly g-4 my-5" id="gifts">
        {% for gift in object_list %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ gift.image.url }}" class="card-img-top" width="100%">
                <div class="card-body">
                    <h5 class="card-title">{{ gift.name }}</h5>
                    <p class="card-text">{{ gift.description }}</p>
                    <button class="btn btn-pink" data-bs-toggle="modal" data-bs-target="#gift{{ forloop.counter }}">R$ {{ gift.price }}</button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        {% if gift.qr_code %}
        <div class="modal fade" id="gift{{ forloop.counter }}" tabindex="-1"
            aria-labelledby="gift{{ forloop.counter }}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="gift{{ forloop.count }}Label">{{ gift.name }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="data:image/png;base64,{{ gift.qr_code }}" alt="QR Code para {{ gift.name }}" class="img-fluid">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary">Copiar código</button>
                        <button type="button" class="btn btn-primary" onclick="copyToClipboard()">Copiar chave
                            pix</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </section>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    function copyToClipboard() {
        navigator.clipboard.writeText("{{ settings.pix_key }}");
        alert('Chave copiada para a área de transferência');
    }
</script>
{% endblock extra_scripts %}