{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="u-clearfix u-image u-section-1" id="carousel_42b3">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-align-left u-container-align-left u-container-style u-group u-palette-1-base u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h1 class="u-align-left u-text u-text-1">Noiva e Noivo <span style="font-weight: 700;"></span>
        </h1>

        <div id="countdown" data-wedding-datetime="2024-09-07 10:00:00.000000">
          <div>
            <span id="days"></span>
            <div>Dias</div>
          </div>
          <div>
            <span id="hours"></span>
            <div>Horas</div>
          </div>
          <div>
            <span id="minutes"></span>
            <div>Minutos</div>
          </div>
          <div>
            <span id="seconds"></span>
            <div>Segundos</div>
          </div>
        </div>
        
        <!-- <p class="u-align-left u-text u-text-3">Imagem de <a href="https://www.freepik.com/free-photos/flower" class="u-border-1 u-border-black u-btn u-btn-1 u-button-link u-button-style u-none u-text-body-color">Freepik</a></p> -->
        <!-- <a href="#" class="u-active-white u-align-left u-border-2 u-border-active-white u-border-black u-border-hover-white u-btn u-button-style u-hover-white u-none u-text-active-black u-text-black u-text-hover-black u-btn-2">Consulte Mais informação</a> -->
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-section-2" id="sec-2131">
  <div class="u-align-right u-palette-1-light-2 u-shape u-shape-rectangle u-shape-1"
    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"></div>
  <div class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-container-style u-layout-cell u-size-34 u-layout-cell-1">
          <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
            <div class="custom-expanded u-palette-1-base u-shape u-shape-rectangle u-shape-2"
              data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
            <div class="u-container-style u-group u-image u-image-tiles u-image-1"
              data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
            <img src="{% static '/wedding-theme/images/tg-min.jpg' %}" alt="" class="u-image u-image-default u-image-2"
              data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
              data-image-width="1200" data-image-height="879">
          </div>
        </div>
        <div class="u-container-align-left u-container-style u-layout-cell u-size-26 u-layout-cell-2"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
          <div class="u-container-layout u-valign-middle u-container-layout-3">
            <h2 class="u-align-left u-text u-text-1"><b> Casamento </b> moderno <br>
            </h2>
            <p class="u-align-left u-large-text u-text u-text-variant u-text-2">Duis aute irure dolor em reprehenderit
              in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="u-align-left u-text u-text-3">Imagem de <a href="https://www.freepik.com/photos/wedding"
                class="u-active-none u-border-1 u-border-black u-btn u-btn-1 u-button-link u-button-style u-hover-none u-none u-text-body-color">Freepik</a>
            </p>
            <a href="#"
              class="u-align-left u-border-2 u-border-active-black u-border-hover-black u-border-palette-1-base u-btn u-button-style u-none u-text-active-black u-text-black u-text-hover-black u-btn-2">Saber
              mais</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-valign-bottom-xl u-white u-section-3" id="sec-744b">
  <div class="u-align-right u-palette-1-light-2 u-shape u-shape-rectangle u-shape-1"
    data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0"></div>
  <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <h2 class="u-text u-text-1">Informações</h2>
            <div class="u-border-6 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
          </div>
        </div>
        <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
          <div>
            <h4 class="u-align-left u-text u-text-4">Clique nos ícones abaixo para mais informações.</h4>
            <div id="info-icons">
              <a href="#" data-bs-target="#ceremonyModal">
                <span class="info-icon">
                  <i class="bi bi-balloon-heart-fill"></i>
                </span>
                Cerimônia
              </a>
              <a href="#" data-bs-target="#ceremonyModal">
                <span class="info-icon">
                  <i class="bi bi-cake-fill"></i>
                </span>
                Recepção
              </a>
              <a href="#" data-bs-target="#ceremonyModal">
                <span class="info-icon">
                  <i class="bi bi-card-checklist"></i>
                </span>
                Presença
              </a>
              <a href="#" data-bs-target="#ceremonyModal">
                <span class="info-icon">
                  <i class="bi bi-gift"></i>
                </span>
                Presentes
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-section-4" id="carousel_4d37">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-size-30">
            <div class="u-layout-col">
              <div
                class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1"
                data-image-width="800" data-image-height="800" data-animation-name="customAnimationIn"
                data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div
                class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                <div class="u-container-layout u-valign-top u-container-layout-2">
                  <h2 class="u-align-left u-text u-text-1">Verão <span style="font-weight: 700;"> Cores do casamento
                    </span>
                  </h2>
                  <p class="u-align-left u-text u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                  <p class="u-align-left u-text u-text-3">Imagens de <a href="https://freepik.com/photos/people"
                      class="u-active-none u-border-1 u-border-black u-btn u-btn-1 u-button-link u-button-style u-hover-none u-none u-text-body-color">Freepik</a>
                  </p>
                  <a href="#" class="u-align-left u-btn u-button-style u-text-body-alt-color u-btn-2">Saber mais</a>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-30">
            <div class="u-layout-row">
              <div
                class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3">
                  <div class="u-align-left u-palette-1-light-2 u-shape u-shape-1"
                    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                  </div>
                  <p class="u-text u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1500"
                    data-animation-delay="500">Duis aute irure dolor em reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.</p>
                  <img
                    src="{% static '/wedding-theme/images/bride-holds-beautiful-bridal-bouquet-close-up_8353-10474.jpg' %}"
                    alt="" class="u-align-left u-image u-image-2" data-animation-name="customAnimationIn"
                    data-animation-duration="1500" data-animation-delay="250">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-section-5" id="carousel_4e04">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div
                    class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-1"
                    data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                    <div class="u-container-layout u-container-layout-1">
                      <h3 class="u-text u-text-1">Felicidade</h3>
                      <blockquote class="u-text u-text-2">Scelerisque purus semper eget duis at tellus at urna
                        condimentum. Varius quam quisque id diam. Id nibh tortor id aliquet lectus proin. </blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div
                    class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-2"
                    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                      <h3 class="u-text u-text-3">Moderno</h3>
                      <blockquote class="u-text u-text-4">Platea dictumst vestibulum rhoncus est pellentesque elit.
                        Morbi tempus iaculis urna id volutpat lacus. Pharetra diam sit amet nisl suscipit. </blockquote>
                      <p class="u-text u-text-5">Imagem de <a href="https://www.freepik.com/photos/luxury"
                          class="u-border-1 u-border-black u-btn u-btn-1 u-button-link u-button-style u-none u-text-body-color">Freepik</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-container-style u-image u-layout-cell u-right-cell u-size-60 u-image-1"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-container-layout-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-container-align-center u-palette-1-light-2 u-section-6" id="sec-a07a">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-border-10 u-border-white u-image u-image-circle u-image-1" data-animation-name="customAnimationIn"
      data-animation-duration="1500" data-animation-delay="500"></div>
    <div class="u-image u-image-circle u-image-2" data-animation-name="customAnimationIn" data-animation-duration="1500"
      data-animation-delay="250"></div>
    <div class="u-border-20 u-border-white u-image u-image-circle u-image-3" data-image-width="700"
      data-image-height="1049" data-animation-name="customAnimationIn" data-animation-duration="1500"
      data-animation-delay="500"></div>
    <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1" data-animation-name="customAnimationIn"
      data-animation-duration="1500" data-animation-delay="750">
      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
        <use xlink:href="#svg-1186"></use>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-1186"
        style="enable-background:new 0 0 160 160;">
        <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
      </svg>
    </div>
    <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-2" data-animation-name="customAnimationIn"
      data-animation-duration="1500" data-animation-delay="750">
      <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
        <use xlink:href="#svg-525f"></use>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-525f"
        style="enable-background:new 0 0 160 160;">
        <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
      </svg>
    </div>
    <div
      class="u-align-center u-container-align-center u-container-style u-expanded-width u-group u-shape-rectangle u-group-1"
      data-animation-name="flipIn" data-animation-duration="1500" data-animation-direction="X"
      data-animation-delay="750">
      <div class="u-container-layout u-valign-top u-container-layout-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Cerimônia de casamento</h2>
        <p class="u-align-center u-text u-text-2">Duis aute irure dolor em reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit.</p>
        <p class="u-align-center u-text u-text-default u-text-3">Imagens de <a
            href="https://www.freepik.com/photos/background"
            class="u-border-1 u-border-black u-btn u-btn-1 u-button-link u-button-style u-none u-text-body-color">Freepik</a>
        </p>
        <a href="#"
          class="u-active-white u-align-center u-border-2 u-border-active-white u-border-black u-border-hover-white u-btn u-button-style u-hover-white u-none u-text-active-black u-text-black u-text-hover-black u-btn-2">consulte
          Mais informação</a>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-section-7" id="carousel_ca86">
  <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
    <div class="u-gallery-inner u-gallery-inner-1">
      <div class="u-effect-fade u-gallery-item">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded" src="{% static '/wedding-theme/images/pexels-photo-5353558.jpeg' %}">
        </div>
        <div class="u-over-slide u-shading u-over-slide-1"></div>
      </div>
      <div class="u-effect-fade u-gallery-item">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded"
            src="{% static '/wedding-theme/images/pexels-jonathan-borba-5353561.jpg' %}">
        </div>
        <div class="u-over-slide u-shading u-over-slide-2"></div>
      </div>
      <div class="u-effect-fade u-gallery-item">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded" src="{% static '/wedding-theme/images/pexels-photo-5353560.jpeg' %}">
        </div>
        <div class="u-over-slide u-shading u-over-slide-3"></div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-container-align-center u-section-8" id="carousel_987d">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              <div
                class="u-align-left u-container-align-left u-container-style u-layout-cell u-palette-1-light-2 u-right-cell u-size-60 u-layout-cell-1"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h2 class="u-align-left u-text u-text-1">Entre em contato conosco</h2>
                  <p class="u-align-left u-text u-text-2">Sample text. Click to select the text box. Click again or
                    double click to start editing the text.</p>
                  <div class="u-form u-form-1">
                    <form action="https://forms.nicepagesrv.com/v2/form/process"
                      class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" style="padding: 0;"
                      source="email" name="form">
                      <div class="u-form-email u-form-group u-form-partition-factor-2 u-form-group-1">
                        <label for="email-da30" class="u-form-control-hidden u-label" wfd-invisible="true">Email</label>
                        <input type="email" placeholder="Enter a valid email address" id="email-da30" name="email"
                          class="u-border-2 u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle"
                          required="">
                      </div>
                      <div class="u-form-group u-form-name u-form-partition-factor-2 u-form-group-2">
                        <label for="name-da30" class="u-form-control-hidden u-label" wfd-invisible="true">Name</label>
                        <input type="text" placeholder="Enter your Name" id="name-da30" name="name"
                          class="u-border-2 u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle"
                          required="">
                      </div>
                      <div class="u-form-agree u-form-group u-form-group-3">
                        <label class="u-block-ec9d-32 u-field-label" style=""></label>
                        <input type="checkbox" id="agree-1d18" name="agree" class="u-agree-checkbox u-field-input"
                          required="">
                        <label for="agree-1d18" class="u-block-ec9d-32 u-field-label" style="">I accept the <a
                            href="#">Terms of Service</a>
                        </label>
                      </div>
                      <div class="u-form-group u-form-message u-form-group-4">
                        <label for="message-da30" class="u-form-control-hidden u-label"
                          wfd-invisible="true">Message</label>
                        <textarea placeholder="Enter your message" rows="4" cols="50" id="message-da30" name="message"
                          class="u-border-2 u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle"
                          required=""></textarea>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit u-form-group-5">
                        <a href="#"
                          class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Enviar</a>
                        <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">
                      </div>
                      <div class="u-form-send-message u-form-send-success" wfd-invisible="true"> Thank you! Your message
                        has been sent. </div>
                      <div class="u-form-send-error u-form-send-message" wfd-invisible="true"> Unable to send your
                        message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
                      <input type="hidden" name="formServices" value="6c7510bc-da5b-0510-aadd-75377099b397">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-size-40">
                <div class="u-layout-row">
                  <div
                    class="u-container-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-2"
                    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                      <p class="u-align-left u-text u-text-3"><b> Ut enim ad minim veniam, quis nostrud exercício
                          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor em
                          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                          laborum. </b>
                        <br>
                        <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum. <br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-container-align-left u-container-style u-layout-cell u-size-36 u-layout-cell-3"
                    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                    <div class="u-container-layout u-valign-top u-container-layout-3">
                      <p class="u-align-left u-text u-text-4">Sample text. Click to select the text box. Click again or
                        double click to start editing the text.</p>
                    </div>
                  </div>
                  <div
                    class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-size-24 u-image-1"
                    data-image-width="626" data-image-height="939" data-animation-name="customAnimationIn"
                    data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-container-layout-4"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block extra_scripts %}
<script>
  // Get the wedding date and time from the "data-wedding-datetime" attribute
  var weddingDateTime = document.getElementById("countdown").getAttribute("data-wedding-datetime");

  // Set the date and time of the wedding
  var weddingDate = new Date(weddingDateTime).getTime();

  // Update the countdown every second
  var countdown = setInterval(function () {
    // Get the current date and time
    var now = new Date().getTime();

    // Calculate the remaining time in milliseconds
    var remainingTime = weddingDate - now;

    // Calculate the days, hours, minutes, and seconds
    var days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
    var hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

    // Display the countdown in the respective spans
    document.getElementById("days").innerHTML = days;
    document.getElementById("hours").innerHTML = hours;
    document.getElementById("minutes").innerHTML = minutes;
    document.getElementById("seconds").innerHTML = seconds;

    // If the countdown is finished, display a message
    if (remainingTime < 0) {
      clearInterval(countdown);
      document.getElementById("countdown").innerHTML = "O casamento já começou!";
      document.getElementById("countdown").style.fontSize = "2rem";
    }
  }, 1000);
</script>
{% endblock extra_scripts %}