{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<title>{{ settings.couple_names|default:"Página Inicial" }}</title>
{% endblock extra_head %}

{% block content %}
<section class="u-clearfix u-image u-section-1" id="hero"
  style="background-image: url('{{ intro_text.images.first.image.url|default:'https://picsum.photos/1080/720/' }}');">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-align-left u-container-align-left u-container-style u-group u-palette-1-base u-group-1"
      data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h1 class="u-align-left u-text u-text-1">{{ settings.couple_names }} <span style="font-weight: 700;"></span>
        </h1>

        <div id="countdown" data-wedding-datetime="{{ settings.wedding_datetime|date:" Y-m-d H:i:s" }}">
          <div>
            <span id="days"></span>
            <div>Dias</div>
          </div>
          <div>
            <span id="hours"></span>
            <div>Horas</div>
          </div>
          <div>
            <span id="minutes"></span>
            <div>Minutos</div>
          </div>
          <div>
            <span id="seconds"></span>
            <div>Segundos</div>
          </div>
        </div>

        {% if intro_text %}
        <p class="u-align-left u-large-text u-text u-text-variant u-text-2">{{ intro_text.content }}</p>
        {% endif %}

      </div>
    </div>
  </div>
</section>
{% if text_1 is not None %}
<section class="u-clearfix u-section-2" id="text_1">
  <div class="u-align-right u-palette-1-light-2 u-shape u-shape-rectangle u-shape-1"
    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"></div>
  <div class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-container-style u-layout-cell u-size-34 u-layout-cell-1">
          <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
            <div class="custom-expanded u-palette-1-base u-shape u-shape-rectangle u-shape-2"
              data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
            <div class="u-container-style u-group u-image u-image-tiles u-image-1"
              data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
            <img src="{{ text_1.images.first.image.url }}" alt="" class="u-image u-image-default u-image-2"
              data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
              data-image-width="1200" data-image-height="879">
          </div>
        </div>
        <div class="u-container-align-left u-container-style u-layout-cell u-size-26 u-layout-cell-2"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
          <div class="u-container-layout u-valign-middle u-container-layout-3">
            <h2 class="u-align-left u-text u-text-1"><b> {{ text_1.title }}</b> <br>
            </h2>
            <p class="u-align-left u-large-text u-text u-text-variant u-text-2">{{ text_1.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<section class="u-clearfix u-valign-bottom-xl u-white u-section-3" id="info">
  <div class="u-align-right u-palette-1-light-2 u-shape u-shape-rectangle u-shape-1"
    data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0"></div>
  <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <h2 class="u-text u-text-1">Informações</h2>
            <div class="u-border-6 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
          </div>
        </div>
        <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2"
          data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
          <div>
            <h4 class="u-align-left u-text u-text-4">Clique nos ícones abaixo para saber mais.</h4>
            <div id="info-icons">
              <a href="#" data-bs-target="#ceremonyModal">
                <span class="info-icon">
                  <i class="bi bi-card-checklist"></i>
                </span>
                Presença
              </a>
              <a href="{% url 'home:gift_list' %}">
                <span class="info-icon">
                  <i class="bi bi-gift"></i>
                </span>
                Presentes
              </a>
              <a href="#" data-bs-target="#ceremonyModal">
                <span class="info-icon">
                  <i class="bi bi-balloon-heart-fill"></i>
                </span>
                Cerimônia
              </a>
              <a href="#" data-bs-target="#ceremonyModal">
                <span class="info-icon">
                  <i class="bi bi-cake-fill"></i>
                </span>
                Recepção
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if text_2 is not None %}
<section class="u-clearfix u-section-4" id="text_2">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        {% with text_2.images.all|slice:":2" as images %}
        <div class="u-layout-row">
          <div class="u-size-30">
            <div class="u-layout-col">
              <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1"
                data-image-width="800" data-image-height="800" data-animation-name="customAnimationIn"
                data-animation-duration="1500" data-animation-delay="500"
                style="background-image: url('{{ images.1.image.url|default:'https://picsum.photos/700' }}');">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div
                class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                <div class="u-container-layout u-valign-top u-container-layout-2">
                  <h2 class="u-align-left u-text u-text-1"><span style="font-weight: 700;">{{ text_2.title }}</span>
                  </h2>
                  <p class="u-align-left u-text u-text-2">{{ text_2.subtitle }} {{ text_2.images }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-30">
            <div class="u-layout-row">
              <div
                class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3">
                  <div class="u-align-left u-palette-1-light-2 u-shape u-shape-1"
                    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                  </div>
                  <p class="u-text u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1500"
                    data-animation-delay="500">{{ text_2.content }}</p>
                  <img src="{{ images.0.image.url|default:'https://picsum.photos/700' }}" alt=""
                    class="u-align-left u-image u-image-2" data-animation-name="customAnimationIn"
                    data-animation-duration="1500" data-animation-delay="250">
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endwith %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if text_3 is not None or text_4 is not None %}
<section class="u-align-center u-clearfix u-container-align-center u-section-5" id="text_3">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              {% if text_3 is not None %}
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div
                      class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-1"
                      data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">
                      <div class="u-container-layout u-container-layout-1">
                        <h3 class="u-text u-text-1">{{ text_3.title }}</h3>
                        <blockquote class="u-text u-text-2">{{ text_3.content }} </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if text_4 is not None %}
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div
                      class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-2"
                      data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
                      <div class="u-container-layout u-valign-top u-container-layout-2">
                        <h3 class="u-text u-text-3">{{ text_4.title }}</h3>
                        <blockquote class="u-text u-text-4">{{ text_4.content }} </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-container-style u-image u-layout-cell u-right-cell u-size-60 u-image-1"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
                style="background-image: url('{{ text_3.images.first.image.url|default:'https://picsum.photos/700' }}');">
                <div class="u-container-layout u-container-layout-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% if featured_circles or text_5 is not None %}
<section class="u-clearfix u-container-align-center u-palette-1-light-2 u-section-6" id="featured_circles">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      {% if featured_circles %}
      <div class="u-border-10 u-border-white u-image u-image-circle u-image-1" data-animation-name="customAnimationIn"
        data-animation-duration="1500" data-animation-delay="500"
        style="background-image: url('{{ featured_circles.0.image.url|default:'https://picsum.photos/400' }}');"></div>
      <div class="u-image u-image-circle u-image-2" data-animation-name="customAnimationIn" data-animation-duration="1500"
        data-animation-delay="250"
        style="background-image: url('{{ featured_circles.1.image.url|default:'https://picsum.photos/500' }}');"></div>
      <div class="u-border-20 u-border-white u-image u-image-circle u-image-3" data-image-width="700"
        data-image-height="1049" data-animation-name="customAnimationIn" data-animation-duration="1500"
        data-animation-delay="500"
        style="background-image: url('{{ featured_circles.2.image.url|default:'https://picsum.photos/600' }}');"></div>
      <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1" data-animation-name="customAnimationIn"
        data-animation-duration="1500" data-animation-delay="750">
        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
          <use xlink:href="#svg-1186"></use>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
          xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-1186"
          style="enable-background:new 0 0 160 160;">
          <path
            d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80 s80-35.8,80-80S124.2,0,80,0L80,0z">
          </path>
        </svg>
      </div>
      <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-2" data-animation-name="customAnimationIn"
        data-animation-duration="1500" data-animation-delay="750">
        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
          <use xlink:href="#svg-525f"></use>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
          xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-525f"
          style="enable-background:new 0 0 160 160;">
          <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
    s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
        </svg>
      </div>
      {% endif %}
      {% if text_5 is not None %}
      <div class="u-align-center u-container-align-center u-container-style u-expanded-width u-group u-shape-rectangle u-group-1" data-animation-name="flipIn" data-animation-duration="1500" data-animation-direction="X" data-animation-delay="750">
        <div class="u-container-layout u-valign-top u-container-layout-1">
          <h2 class="u-align-center u-text u-text-default u-text-1">{{ text_5.title }}</h2>
          <p class="u-align-center u-text u-text-2">{{ text_5.content }}</p>
        </div>
      </div>
      {% endif %}
  </div>
</section>
{% endif %}
{% if featured_gallery is not None %}
<section class="u-clearfix u-section-7" id="featured_gallery">
  <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
    <div class="u-gallery-inner u-gallery-inner-1">
      {% for slide in featured_gallery %}
      <div class="u-effect-fade u-gallery-item">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded" src="{{ slide.image.url }}">
        </div>
        <div class="u-over-slide u-shading u-over-slide"></div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% if leave_a_message_text is not None %}
<section class="u-clearfix u-container-align-center u-section-8" id="leave_a_message_text">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              <div
                class="u-align-left u-container-align-left u-container-style u-layout-cell u-palette-1-light-2 u-right-cell u-size-60 u-layout-cell-1"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h2 class="u-align-left u-text u-text-1">Deixe sua mensagem para os noivos</h2>
                  <p class="u-align-left u-text u-text-2">Expresse seus desejos de felicidades deixando uma carinhosa mesagem abaixo:</p>
                  <div class="u-form u-form-1">
                    <form action="#" class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form"
                      style="padding: 0;" name="form">
                      <div class="u-form-group u-form-partition-factor-1 u-form-group-1">
                        <label for="name-da30" class="u-form-control-hidden u-label" wfd-invisible="true">Nome</label>
                        <input type="text" placeholder="Nome" id="name-da30" name="name"
                          class="u-border-2 u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required>
                      </div>
                      <div class="u-form-group u-form-message u-form-group-4">
                        <label for="message-da30" class="u-form-control-hidden u-label"
                          wfd-invisible="true">Mensagem</label>
                        <textarea placeholder="Escreva sua mensagem" rows="4" cols="50" id="message-da30" name="message"
                          class="u-border-2 u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle" required></textarea>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit u-form-group-5">
                        <a href="#"
                          class="u-border-2 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Enviar</a>
                        <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">
                      </div>
                      <div class="u-form-send-message u-form-send-success" wfd-invisible="true"> Obrigado! Sua mensagem foi enviada. </div>
                      <div class="u-form-send-error u-form-send-message" wfd-invisible="true"> Erro ao enviar sua mensagem, tente novamente. </div>
                      <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
                      <input type="hidden" name="formServices" value="6c7510bc-da5b-0510-aadd-75377099b397">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-30 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-size-40">
                <div class="u-layout-row">
                  <div
                    class="u-container-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-2"
                    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                      <p class="u-align-left u-text u-text-3"><b> {{ leave_a_message_text.content }} </b>
                        <br>
                        <br> {{ leave_a_message_text2.content }} <br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-container-align-left u-container-style u-layout-cell u-size-36 u-layout-cell-3"
                    data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                    <div class="u-container-layout u-valign-top u-container-layout-3">
                      <p class="u-align-left u-text u-text-4">{{ last_text.content }}</p>
                    </div>
                  </div>
                  <div
                    class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-size-24 u-image-1"
                    data-image-width="626" data-image-height="939" data-animation-name="customAnimationIn"
                    data-animation-duration="1500" data-animation-delay="500"
                    style="background-image: url('{{ last_text.images.first.image.url|default:'https://picsum.photos/700' }}');">
                    <div class="u-container-layout u-container-layout-4"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock content %}

{% block extra_scripts %}
<script>
  // Get the wedding date and time from the "data-wedding-datetime" attribute
  var weddingDateTime = document.getElementById("countdown").getAttribute("data-wedding-datetime");

  // Set the date and time of the wedding
  var weddingDate = new Date(weddingDateTime).getTime();

  // Update the countdown every second
  var countdown = setInterval(function () {
    // Get the current date and time
    var now = new Date().getTime();

    // Calculate the remaining time in milliseconds
    var remainingTime = weddingDate - now;

    // Calculate the days, hours, minutes, and seconds
    var days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
    var hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

    // Display the countdown in the respective spans
    document.getElementById("days").innerHTML = days;
    document.getElementById("hours").innerHTML = hours;
    document.getElementById("minutes").innerHTML = minutes;
    document.getElementById("seconds").innerHTML = seconds;

    // If the countdown is finished, display a message
    if (remainingTime < 0) {
      clearInterval(countdown);
      document.getElementById("countdown").innerHTML = "O casamento já começou!";
      document.getElementById("countdown").style.fontSize = "2rem";
    }
  }, 1000);
</script>
{% endblock extra_scripts %}